@model IEnumerable<DataLayer.centros>

@{
    ViewBag.Title = "Index";
}


<table class="table table-striped">
    <tr class="text-uppercase">
        
        
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        
        
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
