@model IEnumerable<DataLayer.groups>

@{
    ViewBag.Title = "Administrar permisos";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        
        <th width="12%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        
        <td>
            @if (item.name == "admin")
            {
                @MvcHtmlString.Create("<span>Libre</span>")
            }
            else{
                @Html.ActionLink("Permisos", "Save", new { id=item.id }) 
            }
            
        </td>
    </tr>
}

</table>

